---
---

<header>
	<div class="flow__guard"></div>
	<h1>Scythe</h1>
	<nav>
		<a href="/blog">blog</a>
		<!-- GitHub icon to navigate -->
		<a href=""></a>
	</nav>
</header>

<style>
	header {
		height: 100px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.flow__guard {
		padding-left: 40px;
	}

	nav {
		padding-right: 40px;
	}
	@media (max-width: 675px) {
		header {
			height: 75px;
		}
	}
</style>
