---
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<slot />
		<style is:global>
			@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@0;1&display=swap");
			@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");

			:root {
				--main-bg-color: #121212;
			}

			body {
				background-color: var(--main-bg-color);
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			a,
			p {
				color: rgb(241, 241, 241);
			}

			h1 {
				font-family: "Syncopate";
			}

			* {
				margin: 0;
				padding: 0;
			}
		</style>
	</body>
</html>
